<app-bread-crumb *ngIf="translate.currentLang == 'en' || translate.currentLang == undefined" [name]="product?.name">
</app-bread-crumb>
<app-bread-crumb *ngIf="translate.currentLang == 'ar'" [name]="product?.nameAr"></app-bread-crumb>
<div class="product" #mainProduct>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="image-info animated"
          [class]="translate.currentLang == 'en' || translate.currentLang == undefined ? 'fadeInLeft' : 'fadeInRight'">
          <img *ngIf="product?.image" [src]="url +'/' + product.image" [alt]="product?.name">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="product-info animated"
          [class]="translate.currentLang == 'en' || translate.currentLang == undefined ? 'fadeInRight' : 'fadeInLeft'">
          <h1 class="name" *ngIf="translate.currentLang == 'en' || translate.currentLang == undefined">
            {{ product?.name }}</h1>
          <h1 class="name" *ngIf="translate.currentLang == 'ar'">{{ product?.nameAr }}</h1>
          <h2 class="price">{{ product?.priceAfterDiscount | currency:'EGP' }}</h2>
          <del class="price">{{ product?.price | currency:'EGP' }}</del>
          <p class="description" *ngIf="translate.currentLang == 'en' || translate.currentLang == undefined">
            {{ product?.description }}</p>
          <p class="description" *ngIf="translate.currentLang == 'ar'">{{ product?.descriptionAr }}</p>
          <div class="group">
            <div class="input-info">
              <label for="{{ 'productInfo.quantity' | translate }}">{{ 'productInfo.quantity' | translate }}</label>
              <div class="input-group">
                <i class="fas fa-caret-left" (click)="decreaseAmount()"></i>
                <input type="number" [value]="amount" readonly>
                <i class="fas fa-caret-right" (click)="increaseAmount()"></i>
              </div>
            </div>
            <button (click)="addToCart()">
              {{ 'productInfo.addToCart' | translate }}
            </button>
          </div>
          <div class="other-info">
            <ul>
              <li><span>{{ 'productInfo.code' | translate }}: </span>{{ product?.seq }}</li>
              <li *ngIf="translate.currentLang == 'en' || translate.currentLang == undefined">
                <span>{{ 'productInfo.category' | translate }}: </span> <a routerLink="/"
                  [queryParams]="{category: product?.category}">{{ product?.category }}</a></li>
              <li *ngIf="translate.currentLang == 'ar'"><span>{{ 'productInfo.category' | translate }}: </span> <a
                  routerLink="/" [queryParams]="{category: product?.categoryAr}">{{ product?.categoryAr }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
