<footer #footer>
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 wow fadeInLeft" data-wow-offset="100">
          <h4>{{ 'footer.customerService.mainContent' | translate }}</h4>
          <ul>
            <li><i class="fas fa-long-arrow-alt-right"></i><a
                href="">{{ 'footer.customerService.help' | translate }}</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a
                href="">{{ 'footer.customerService.returns' | translate }}</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a
                href="">{{ 'footer.customerService.terms' | translate }}</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 wow fadeInUp" data-wow-offset="100">
          <h4>{{ 'footer.company.mainContent' | translate }}</h4>
          <ul>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">{{ 'footer.company.whatWeDo' | translate }}</a>
            </li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">{{ 'footer.company.faqs' | translate }}</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 wow fadeInUp" data-wow-offset="100">
          <h4>{{ 'footer.socialMedia.mainContent' | translate }}</h4>
          <ul>
            <li><i class="fas fa-long-arrow-alt-right"></i><a
                href="">{{ 'footer.socialMedia.facebook' | translate }}</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a
                href="">{{ 'footer.socialMedia.instagram' | translate }}</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a
                href="">{{ 'footer.socialMedia.linkedin' | translate }}</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 wow fadeInRight" data-wow-offset="100">
          <h4>{{ 'footer.profileInfo.mainContent' | translate }}</h4>
          <ul class="last-ul">
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">{{ 'footer.profileInfo.account' | translate }}</a>
            </li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a
                href="">{{ 'footer.profileInfo.checkout' | translate }}</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a
                href="">{{ 'footer.profileInfo.orderTracking' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="end-footer wow fadeInUp" data-wow-offset="10">
    <div class="container">
      <div class="text">
        Copyright &copy; Hamdy Emad
      </div>
    </div>
  </div>
</footer>
