<footer>
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 wow fadeInLeft" data-wow-offset="100">
          <h4>customer service</h4>
          <ul>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">help & contact us</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">returns & refunds</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">online stores</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 wow fadeInUp" data-wow-offset="100">
          <h4>company</h4>
          <ul>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">what we do</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">available services</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">latest posts</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">faqs</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 wow fadeInUp" data-wow-offset="100">
          <h4>social media</h4>
          <ul>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">twitter</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">instagram</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">tumblr</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">pinterest</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 wow fadeInRight" data-wow-offset="100">
          <h4>profile</h4>
          <ul class="last-ul">
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">my account</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">checkout</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">order tracking</a></li>
            <li><i class="fas fa-long-arrow-alt-right"></i><a href="">help & support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="end-footer wow fadeInUp" data-wow-offset="10">
    <div class="container">
      <div class="text">
        Copyright &copy; Hamdy Emad
      </div>
    </div>
  </div>
</footer>
