@import "../../../../../assets/files/placeholders";
.generator {
  padding: 20px 0;
  .form-group {
    display: flex;
    align-items: center;
    label {
      width: 100px;
    }
  }
  textarea {
    width: 50%;
    max-height: 140px;
    height: 140px;
  }

  button {
    @extend %mainButton;
  }
}
