<header #header>
  <div class="container">
    <div class="links" #sideBar>
      <i class="fas fa-times" (click)="toggleSideBar(sideBar)"></i>
      <ul class="sideBarLinks">
        <li routerLink="/">
          <a>{{ 'navbar.link1.main' | translate }}</a>
          <div class="drop-down">
            <ul>
              <li><i class="fas fa-long-arrow-alt-right"></i><a href="">{{ 'navbar.link1.subLink1' | translate }}</a>
              </li>
              <li><i class="fas fa-long-arrow-alt-right"></i><a href="">{{ 'navbar.link1.subLink2' | translate }}</a>
              </li>
              <li><i class="fas fa-long-arrow-alt-right"></i><a href="">{{ 'navbar.link1.subLink2' | translate }}</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a>{{ 'navbar.link2' | translate }}</a></li>
        <li><a href="">{{ 'navbar.link3' | translate }}</a></li>
      </ul>
    </div>
    <div class="logo">
      <h1>{{ 'navbar.logo' | translate }}</h1>
    </div>
    <div class="links">
      <ul>
        <li *ngIf="_auth.isLoggedIn()"><a>{{ 'navbar.cart.cart' | translate }}</a>
          <div class="index">({{ cartLength }})</div>
          <div class="drop-down drop-of-cart">
            <div class="no-cart animated fadeIn" *ngIf="cartLength == 0">{{ 'navbar.cart.noCart' | translate }}</div>
            <div class="cart" *ngIf="cartLength !== 0">
              <div class="cart-info" #cartInfo>
                <ng-container>
                  <div class="carts animated fadeIn" #cartInfoChildren *ngFor="let cart of carts">
                    <img [src]="url +'/' + cart.image" [alt]="cart.name">
                    <div class="cart-details">
                      <h3 *ngIf="translate.currentLang == 'en'">{{ cart.name }}</h3>
                      <h3 *ngIf="translate.currentLang == 'ar'">{{ cart.nameAr }}</h3>
                      <p class="dir-ltr">{{ cart.amount }} x {{ cart.priceAfterDiscount | currency:'EGP' }}</p>
                    </div>
                    <i class="fas fa-times" (click)="removeCart(cart._id, cart.name)"></i>
                  </div>
                </ng-container>
              </div>
              <div class="total">
                <h4>{{ 'navbar.cart.total' | translate }}:</h4>
                <h4>{{ totalPrice | currency:'EGP' }}</h4>
              </div>
              <div class="buttons">
                <button routerLink="/cart">{{ 'navbar.cart.viewCartBtn' | translate }}</button>
                <button routerLink="/order">{{ 'navbar.cart.checkoutBtn' | translate }}</button>
              </div>
            </div>
          </div>
        </li>
        <li *ngIf="_auth.isLoggedIn() && !mobile" routerLink="/my-orders"><a>{{ 'navbar.orders' | translate }}</a></li>
        <li *ngIf="!_auth.isLoggedIn()" (click)="togglePopup(popup)"><a><i
              class="fas fa-user"></i><span>{{ 'navbar.loginAndregisterLink.login' | translate }} &
              {{ 'navbar.loginAndregisterLink.register' | translate }}</span></a>
        </li>
        <li>
          <select #selectBox (change)="changeLang(selectBox)"
            [value]="_translate.getStorageLang() || translate.defaultLang">
            <option value="en">en</option>
            <option value="ar">ar</option>
          </select>
        </li>
        <li *ngIf="_auth.isLoggedIn()" (click)="logOut()"><a><i
              class="fas fa-sign-out-alt mr-1"></i><span>{{ 'navbar.logout' | translate }}</span></a>
        </li>
        <li class="burger-link" (click)="toggleSideBar(sideBar)">
          <a>
            <i class="fas fa-hamburger"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--Start Popup-->
  <div class="popup" #popup (click)="togglePopup(popup)">
    <div class="content" (click)="stopProp($event)">
      <ul class="loginAndSignUp">
        <li class="activeLink" data-show=".loginForm">{{ 'navbar.loginAndregisterLink.login' | translate }}</li>
        <li data-show=".signUpForm">{{ 'navbar.loginAndregisterLink.register' | translate }}</li>
      </ul>
      <div class="forms">
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="loginForm activeForm">
          <div class="form-group">
            <input type="text" placeholder="{{'navbar.loginAndregisterLink.email' | translate}}"
              formControlName="email">
            <div class="err mt-1 animated fadeIn" *ngIf="loginEmail().errors?.required && loginEmail().dirty">
              {{ "navbar.loginAndregisterLink.validation.emailRequired" | translate }}
            </div>
            <div class="err mt-1 animated fadeIn" *ngIf="emailMessage">{{ emailMessage }}</div>
            <div class="err mt-1 animated fadeIn" *ngIf="loginEmail().errors?.email && loginEmail().dirty">
              {{ "navbar.loginAndregisterLink.validation.emailFormat" | translate }}
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="{{'navbar.loginAndregisterLink.password' | translate}}"
              formControlName="password">
            <div class="err mt-1 animated fadeIn" *ngIf="passwordMessage">{{ passwordMessage }}</div>
            <div class="err mt-1 animated fadeIn" *ngIf="loginPassword().errors?.required && loginPassword().dirty">
              {{ "navbar.loginAndregisterLink.validation.passwordRequired" | translate }}
            </div>
          </div>
          <div class="form-group remember-me" (click)="checkBox.click()">
            <input type="checkbox" #checkBox><span>{{'navbar.loginAndregisterLink.remeber' | translate}}</span>
          </div>
          <div class="lost-password"><a href="">{{'navbar.loginAndregisterLink.lostPassword' | translate}}</a></div>
          <div class="form-group">
            <input type="submit" value="{{'navbar.loginAndregisterLink.login' | translate}}"
              [disabled]="loginForm.invalid">
          </div>
        </form>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="signUpForm">
          <div class="form-group">
            <input type="text" placeholder="{{'navbar.loginAndregisterLink.username' | translate}}"
              formControlName="userName">
            <div class="err mt-1 animated fadeIn" *ngIf="userName().errors?.required && userName().dirty">
              {{ "navbar.loginAndregisterLink.validation.usernameRequired" | translate }}
            </div>
          </div>
          <div class="form-group">
            <input type="email" placeholder="{{'navbar.loginAndregisterLink.email' | translate}}"
              formControlName="email">
            <div class="err mt-1 animated fadeIn" *ngIf="email().errors?.required && email().dirty">
              {{ "navbar.loginAndregisterLink.validation.emailRequired" | translate }}
            </div>
            <div class="err mt-1 animated fadeIn" *ngIf="email().errors?.email && email().dirty">
              {{ "navbar.loginAndregisterLink.validation.emailFormat" | translate }}
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="{{'navbar.loginAndregisterLink.password' | translate}}"
              formControlName="password">
            <div class="err mt-1 animated fadeIn" *ngIf="password().errors?.required && password().dirty">
              {{ "navbar.loginAndregisterLink.validation.passwordRequired" | translate }}
            </div>
            <div class="err mt-1 animated fadeIn" *ngIf="password().errors?.minlength">
              {{ "navbar.loginAndregisterLink.validation.passwordLength" | translate }} 6
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="{{'navbar.loginAndregisterLink.confirmPassword' | translate}}"
              formControlName="confirmPassword">
            <div class="err mt-1 animated fadeIn"
              *ngIf="password().value !== confirmPassword().value && confirmPassword().touched">
              {{ "navbar.loginAndregisterLink.validation.confirmPassword" | translate }}</div>
          </div>
          <div class="form-group">
            <input type="submit" value="{{'navbar.loginAndregisterLink.register' | translate}}"
              [disabled]="registerForm.invalid || confirmPassword().value !== password().value">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--End Popup-->
</header>
