:root {
  --mainColor: #080808;
  --secColor: #929292;

  // Other Color's
  --blue: #2e86de;
  --secBlue: #54a0ff;

  --red: #ee5253;
  --secRed: #ff6b6b;

  --purple: #6c5ce7;
  --secPurple: #a29bfe;

  --orange: #e17055;
  --secOrange: #fab1a0;

  --dark: #454545;
  --secDark: #878787;

  // Variables
  --adminSideWidth: 250px;
}
