:root {
  --mainColor: #080808;
  --secColor: #929292;

  // Other Color's
  --blue: #0984e3;
  --secBlue: #74b9ff;

  --green: #00b894;
  --secGreen: #55efc4;

  --purple: #6c5ce7;
  --secPurple: #a29bfe;

  --orange: #e17055;
  --secOrange: #fab1a0;

  --dark: #454545;
  --secDark: #878787;

  // Variables
  --adminSideWidth: 250px;
}
