<div class="change-status">
  <div class="container-fluid">
    <form [formGroup]="statusForm" (ngSubmit)="onChangeStatus()">
      <div class="form-group">
        <label for="status">status</label>
        <select class="custom-select" formControlName="status">
          <option value=""></option>
          <option value="canceled">canceled</option>
          <option value="chargeback">chargeback</option>
          <option value="complete">complete</option>
          <option value="processed">processed</option>
          <option value="pending">pending</option>
          <option value="procissing">procissing</option>
          <option value="reversed">reversed</option>
          <option value="shipped">shipped</option>
        </select>
      </div>
      <div class="form-group">
        <label for="status">Orders I'd</label>
        <textarea class="form-control" formControlName="seqs"></textarea>
      </div>
      <div class="form-group">
        <button>Update Status</button>
      </div>
    </form>
  </div>
</div>
